*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* <!-- header start --> */
/* <!-- header end --> */
/* <!-- home start --> */
/* <!-- home end --> */
/* <!-- live stream start --> */
/* <!-- live stream end --> */
/* <!-- feature games start --> */
/* <!-- feature games end --> */
/* <!-- Top evens start  --> */
/* <!-- Top evens end --> */
/* <!-- Top Piks start --> */
/* <!-- Top Piks end --> */
/* <!-- Top Free Games  start--> */
/* <!-- Top Free Games  end--> */
/* <!-- footer start --> */
/* <!-- footer end --> */