*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.body__container{
    background-image: url(../img/orqa_fon_game.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


/* <!-- header start --> */
.header__wrapper{
    max-width: 1728px;
    margin: 0 auto;
    background-color:black;
    padding: 20px 23px;
}
.header__in{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding-left: 60px;
}
.nav__link{
    display: flex;
    gap: 74px;
    align-items: center;
}
.nav__link .nav__item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(215, 215, 215, 0.9);
    border-bottom: 4px solid transparent;
    padding-bottom: 5px;
    transition: all 0.6s ease;
}

.nav__link .nav__item a:hover{
     
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 4px solid #E8E8E8;
}
.header__button{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 135px;
}
.header__button button{
    border: none;
    outline: none;
    background:none;
    cursor: pointer;
}
/* <!-- header end --> */
/* <!-- home start --> */
/* <!-- home end --> */
/* <!-- live stream start --> */
/* <!-- live stream end --> */
/* <!-- feature games start --> */
/* <!-- feature games end --> */
/* <!-- Top evens start  --> */

.top__evens{
    margin: 0 auto;
    padding: 0.1px;
    width: 1728px;
    height: 1189px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0074) 0%, rgba(0, 0, 0, 0.2146) 100%);
    
}

.top__evens__container{
    width: 1592px;
    margin: 0 67px 0 75px;
}

.top__evens__text__bag p{
    margin-top: 55px;
    margin-bottom: 106px;
    width: 271.17px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: rgba(237, 237, 237, 0.9);
    
}

.top__evens__table{
    display: flex;
}

.top__evens__table__photo{
    margin-right: 90px;
}

.top__evens__table__text__bag p{
    width: 328.57px;
    height: 47.12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF; 
    margin-bottom: 30px;
}

.top__evens__table__text_small p{
    width: 603.4px;
    height: 270.68px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #B5B5B5;
    margin-bottom: 42px;
    
}

.top__evens__table_online{
    display: flex;
}

.top__evens__table_online .top__online{
    text-align: center;
   
}

.top__evens__table_online .top__online .p1{
    margin-left: 40px;
    margin-right: 157px;
    width: 57.86px;
    height: 25.06px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFF9F9; 
    margin-bottom: 33px;   
}


.top__evens__table_online .top__online .p2{
    width: 194px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFCD1A;
    
}

.top__evens__table_online .top__online .p2 span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFF9F9;   
}

.top__evens__table_online .top__public span{
    margin-left: 14px;
    width: 57.86px;
    height: 25.06px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFF9F9;
    
}

.top__evens__table_online .top__public .partins span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFF9F9;   
}

.top__public__t{
    display: flex;
    margin-bottom: 34px;
}

.top__evens__table_online .top__public p{
    width: 145.68px;
    height: 24.06px;
    left: 1236.77px;
    top: 449.12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #93CBFF;
    
}


.top__evens__button button{
    margin-top:109px ;
    width: 372.99px;
    height: 80.18px;
    background: linear-gradient(292.86deg, #2D53D9 0%, #46D84C 87.68%);
    border-radius: 15px;   
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: 0.7;
}

.top__evens__button button:active{
    transform: scale(0.98);
  
}

.top__evens__button button #button_top{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 138.69%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;    
}

/* <!-- Top evens end --> */
/* <!-- Top Piks start --> */
/* <!-- Top Piks end --> */
/* <!-- Top Free Games  start--> */
/* <!-- Top Free Games  end--> */
/* <!-- footer start --> */

footer{
    width: 1728px;
    margin: 0 auto;
    height: 806px;
    
    background: #131A25;
    
}

.footer__container{
    width: 1586px;
    margin: 0 auto;
    padding-top: 1px;
    margin: 0 164px 0 80px;
    display: flex;
    height: 806px;
}

.footer__Games .Games{
    margin: 193px 200px 21px 0;
}

.footer__Games p{
    width: 382px;
    height: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #9A9A9A;    
}

.footerr_games__buttons{
    display: flex;
}

.footerr_games__button1 button{
    width: 172px;
    height: 52px;
    background: #CCCCCC;
    border-radius: 6px; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footerr_games__button1 button span{
    margin-left: 17px;
    width: 86px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #484848;    
}

.footerr__games__button2 button{
    margin-left: 13px;
    width: 172px;
    height: 52px;
    background: #CCCCCC;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footerr__games__button2 button span{
    margin-left: 16px;
    width: 94px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #484848;    
}

.footer_c_h_c{
    display: flex;
    margin-top: 193px;
}

.footer_c_h_c span{
    margin-right: 50px;
    width: 232.18px;
    height: 41.81px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #838383; 
    margin-bottom: 18px;   
}

.footer_c_h_c p{

   margin-bottom:7px ; 
   height: 41.81px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   align-items: center;
   color: #838383;   
}

.footer_c_h_c a{
    text-decoration: none;
    color: #838383; 
}

.footer__icons img{
    margin-top: 10px;
    margin-right: 24px;
}

.finishid{
    padding: 0.2px;
    height: 106px;
    background: #131A25;
    align-items: center;
    width: 1728px;
    margin: 0 auto;
}

.finishid .top__evens__container{
    display: flex;
    
}

.finishid p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #8C8C8C; 
    margin-top: 40px;   
}

.finishid .p1{
    margin-right: 808px;
}
/* <!-- footer end --> */